<header>
    <div id="title"><h1>Erzsebet Kis-Nagy</h1></div>
    <div id="navbar">
            <a class="menu">Home</a>
            <a href="#about" class="menu">About</a>
            <a href="drawings.html" class="menu">Drawings</a>
            <a href="paintings.html" class="menu">Paintings</a>
            <a href="contact.html" class="menu">Contact</a>
            <a href="https://www.instagram.com/pink_raccoon_design/" target="_blank"><img id="instagram" src="instagram.svg" alt=""></a>
            <img id="twitter" src="twitter.svg" alt="">
    </div>
    <div id="line"></div>
  </header>