<header>
    <div id="title"><h1>Erzsebet Kis-Nagy</h1></div>
    <div id="navbar">
            <a href="index.html" class="menu">Home</a>
            <a href="index.html#about" class="menu">About</a>
            <a href="drawings.html" class="menu">Drawings</a>
            <a href="paintings.html" class="menu">Paintings</a>
            <a href="contact.html" class="menu">Contact</a>
            <a href="https://www.instagram.com/kisnagy_art/" target="_blank"><img id="instagram" src="instagram.svg" alt=""></a>
            <a href="https://twitter.com/kisnagy_art" target="_blank" ><img id="twitter" src="twitter.svg" alt=""></a>
    </div>
    <div id="line"></div>
  </header>
