<header>
    <div id="navbar">
            <div id="title"><h1>Erzsebet <span class="nowrap">Kis-Nagy</span></h1></div>
            <section class="menu-items">
                <a href="/" class="menu">Home</a>
                <a href="/#about" class="menu" id="aboutnavbar">About</a>
                <a href="artworks" class="menu">Artworks</a>
                <a href="contact" class="menu" id="contactnavbar">Contact</a>            
            </section>
            <div id="icons"><a href="https://www.instagram.com/kisnagy_art/" target="_blank"><img id="instagram" src="instagram.svg" alt="instagram"></a>
            <a href="https://twitter.com/kisnagy_art" target="_blank" ><img id="twitter" src="twitter.svg" alt="twitter"></a>
            <a href="contact" ><img id="contactheader" src="email-white.svg" alt="contact"></a></div>
        </div>
        <div id="line"></div>
    </script>
  </header>
