header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  background-image: url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  display: block;
  background-size: cover;
  height: 400px;
  background-position: center;
  margin-bottom: 60px;
  position: relative;
}

#title {
  width: 800px;
  margin: 0px auto;
}

h1 {
  padding: 0px 50px;
  font-size: 64px;
  letter-spacing: 1px;
  margin: 0px;
  line-height: 54px;
  position: absolute;
  bottom: 60px;
  font-weight: normal
}

small {
  font-size: 36px;
  letter-spacing: 1px;
}

main {
  width: 800px;
  margin: 0px auto;
}

section {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  padding: 0px 50px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  color: white;
  background: #444;
  padding: 50px;
  margin: 0px auto;
  position: relative;
}

blockquote::before {
  content: '“';
  position: absolute;
  top: -45px;
  left: 0px;
  font-size: 160px;
}

.quotebox {
  width: 800px;
  margin: 40px -50px 50px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 60px 0px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  margin: 40px 0px 0px;
}

p, ul {
  font-size: 15px;
  line-height: 22px;
}

p {
  margin: 30px 0px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin-top: 0px;
}


#first p, #first ul{
  font-size: 20px;
  line-height: 30px;
}

#first ul{
  margin-bottom: 60px;
}

#line {
  height: 4px;
  background: #222;
  width: 760px;
  margin: 50px 0px 60px 20px;
}

#bottom {
  margin-bottom: 50px;
}