* {
    box-sizing: border-box;
  }

header {
    background-color: rgb(54, 53, 50);
    width: 100%;
    padding: 30px 20px 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nowrap {
    white-space: nowrap;
}

#title {
    max-width: 50%;
}

@media only screen and (max-width: 450px) {
    header {
        padding: 20px;
    }
}

#line {
    display: block;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    background-color: black;
}

@media only screen and (max-width: 700px) {
    #line {
      top: 147px;
    }
}

@media only screen and (max-width: 450px) {
    #line {
      top: 127px;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.menu {
   text-transform: uppercase;
   margin-left: 15px;
   margin-right: 15px;
   font-size: 18px;
   font-family: 'Enriqueta', serif;
   font-weight: 400;
   color: white;
   text-decoration: none;
}

@media only screen and (max-width: 1060px) {
    .menu {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#icons {
    flex-shrink: 0;
}

.menu-items {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
    .menu {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #navbar {
        flex-wrap: wrap;
    }
    
    .menu-items {
        order: 2;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
    }
}


#instagram, #twitter {
    width: 25px;
    margin: 10px;
    padding-top: 3px;
}


@media only screen and (min-width: 700px) {
    #contactheader {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #contactheader {
        width: 25px;
        margin: 10px 0px 10px 10px;
        padding-top: 3px;
    }
}

@media only screen and (max-width: 700px) {
    #aboutnavbar, #contactnavbar {
        display: none;
    }
}

h1 {
    padding-left: 0px;
    padding-bottom: 2px;
    margin: 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1060px) {
    h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 18px;
    }
}

h2 {
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 500;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 450px) {
    h2 {
        font-size: 20px;
        padding-bottom: 20px;
    }
}

.exhibitionsh2 {
    padding-bottom: 20px;
}

p, footer, table {
    font-family: 'Raleway', sans-serif;
}

#about {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    scroll-margin-top: 120px;
}

@media only screen and (max-width: 900px) {
    #about {
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    #about {
        padding-top: 10px;
    }
}

.statementtext {
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 0px;
    font-size: 20px;
    line-height: 34px;
}

@media only screen and (max-width: 900px) {
    .statementtext {
        padding-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .statementtext {
        padding-right: 30px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 450px) {
    .statementtext {
        padding-right: 30px;
        font-size: 14px;
        line-height: 26px;
    }
}

#self {
    display: block;
    height: 600px;
    width: 600px;
    margin-left: 50px;
    margin-right: 30px;
}

@media only screen and (max-width: 900px) {
    #self {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #self {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

#statement {
    width: 60%;
}

@media only screen and (max-width: 900px) {
    #statement {
        width: 100%;
    }
}

table {
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 50px;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    table {
        font-size: 16px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 450px) {
    table {
        font-size: 14px;
        padding-bottom: 10px;
    }
}

.td2 {
    padding-left: 20px;
}

@media only screen and (max-width: 1100px) {
    .td2 {
        line-height: 26px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    td {
        line-height: 20px;
        padding-bottom: 15px;
    }
}

body {
    padding-top: 110px;
    margin: 0px;
}

@media only screen and (max-width: 700px) {
    body {
        padding-top: 150px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        padding-top: 130px;
    }
}

footer {
    display: flex;
    padding-left: 36px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(54, 53, 50);
    height: 50px;
    align-items: center;
    position: relative;
}

p {
    margin: 0px;
}

img {
    max-width: 100%;
}

#line2 {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: black;
}

#drawings {
    width: 100%;
    height: auto;
    margin: 0px auto 0px;
}

.pic img  {
    width: 100%;
}

.pic {
    margin: 0px auto 10px;
}

h3 {
    padding-bottom: 10px;
    margin: 0px auto 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 500;
    font-size: 22px;
}


@media only screen and (max-width: 600px) {
    h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    h3 {
        font-size: 16px;
    }
}

h4 {
    padding-bottom: 30px;
    margin: 0px auto 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 200%;
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    h4 {
        font-size: 10px;
        padding-bottom: 20px;
    }
}

#paintings {
    margin: 30px;
}

.paintings, .drawings {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .paintings, .drawings {
        flex-direction: column;
    }
}

.drawingwtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawing {
    padding: 0px 0px 15px;
}

#box1 {
    padding-bottom: 30px;
}

#paint3, #paint5, #drawing1, #paint6, #paint7, #paint8 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

#paint1 {
    width: 62%;
}

@media only screen and (max-width: 600px) {
    #paint1 {
        width: 100%;
    }
}

#paint2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-between;
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    #paint2 {
        margin-left: 0;
    }
}

#paint2 .painting {
    flex: 1 1 0;
}

#paint3b, #paint3c, #paint4b, #paint5b, #paint6b, #paint6c, #paint7b, #paint8b {
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {
    #paint3b, #paint3c, #paint4b, #paint5b, #paint6b, #paint6c, #paint7b, #paint8b {
        padding-left: 0px;
    }
}

#paint3a {
    flex: 379 379 0;
}
 
#paint3b {
    flex: 334 334 0;
}

#paint3c {
    flex: 348 348 0;
}

@media only screen and (max-width: 600px) {
    #paint3 {
        flex-direction: column;
    }
}

 #paint4 {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    #paint4, #paint5, #paint6, #paint7, #paint8 {
        flex-direction: column;
    }
}

#paint4a {
    flex: 268 268 0;
}
 
#paint4b {
    flex: 304 304 0;
}
 
#paint5a {
    flex: 700 700 0;
}

#paint5b {
    flex: 1172 1172 0;
}

#paint6a {
    flex: 339 339 0;
}
 
#paint6b {
    flex: 335 335 0;
}

#paint6c {
    flex: 339 339 0;
}

#paint7a {
    flex: 586 586 0;
}

#paint7b {
    flex: 1172 1172 0;
}

#paint8a {
    flex: 700 700 0;
}

#paint8b {
    flex: 351 351 0;
}

#drawing1a {
    flex: 1400 1400 0;
}

#drawing1b {
    flex: 1445 1445 0;
}

@media only screen and (max-width: 600px) {
    .painting {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #paint4bimg {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #box1, #paint2, #paint3, #paint4, #paint5, #paint6, #paint7, #paint8 {
        padding-bottom: 0px;
    }
}

.contact {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding: 0px;
    font-family: 'Enriqueta', serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

@media only screen and (max-width: 1100px) {
    .contact {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .contact {
        font-size: 16px;
        margin-top: 30px;
    }
}

.contacticon {
    width: 40px;
    margin-left: 40px;
    margin-top: 54px;

}

@media only screen and (max-width: 1100px) {
    .contacticon {
        width: 26px;
        margin-top: 32px;
    }
}

@media only screen and (max-width: 1100px) {
    .contacticon {
        width: 20px;
        margin-top: 32px;
    }
}

.contact-lines {
    flex: 1 1 0;
}


@media only screen and (max-width: 1100px) {
    .contact-lines {
        padding-top: 20px;
    }
}

.contactline {
    display: flex;
    align-items: center;
}

.tweets {
    padding-top: 40px;
    padding-right: 40px;
    flex: 1 1 0; height: calc(100vh - 160px); overflow-y: scroll
}

#contact {
    display: flex;
}


@media only screen and (max-width: 750px) {
    #contact {
        display: block;
    }

    .tweets {
        height: auto;
        overflow: auto;
        padding: 30px;
    }
}

.fslightbox-caption-inner h2 {
    padding: 0;
    margin-bottom: 10px;
}

.fslightbox-caption-inner p {
    line-height: 1.5;
}